@CHARSET "ISO-8859-1";

body, p, legend, label, input 
{
	font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset 
{
	padding: 10px;
	border: 1px #0568CD solid;
	-moz-border-radius:15px;  
	border-radius: 15px;  
	-webkit-border-radius: 15px; 
}

legend {
	font-weight: bold;
	color: #0568CD;
}

input
{
    width: 200px;
    border-radius: 5px;
}

input.CP
{
    width: 50px;
}

input.ville
{
    width: 139px;
}

.btn
{
    width: 100px;
}

form label 
{
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input 
{
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel 
{
    margin-left: 200px;
}

form .requis 
{
    color: #c00;
}

a.info_bulle span  
{  
    position:absolute;  
    top:-2000em;  
    left:-2000em;  
    width:1px;  
    height:1px;  
    overflow:hidden;  
    background:#DDEEFF; /* Définition du fond, sinon on a le même que notre lien */ 
    border:1px solid #6699FF; /* Définition des bordures */ 
}

/* Status */
.error {
    color: #900;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

/* Tables */
table {
    border-collapse: collapse;
}

tr.pair {
    background-color: #fff;
}

tr.impair {
    background-color: #ddd;
}

th {
    color: #0568CD;
    border: 1px solid #0568CD;
    padding: 5px;
}

th.action {
    border: 1px solid #900;
    color: #900;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
}

td.action {
    text-align: center;
}