@CHARSET "ISO-8859-1";

body, p, legend, label, input 
{
	font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset 
{
	padding: 10px;
	border: 1px #0568CD solid;
}

legend {
	font-weight: bold;
	color: #0568CD;
}

input
{
    width: 200px;
}

input.CP
{
    width: 50px;
}

input.ville
{
    width: 140px;
}

.btn
{
    width: 100px;
}

form label 
{
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input, select 
{
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel 
{
    margin-left: 200px;
}

form .requis 
{
    color: #c00;
}

#checkFumeur
{
	width:30px;
	
}

a.info_bulle span  
{  
    position:absolute;  
    top:-2000em;  
    left:-2000em;  
    width:1px;  
    height:1px;  
    overflow:hidden;  
    background:#DDEEFF; /* Définition du fond, sinon on a le même que notre lien */ 
    border:1px solid #6699FF; /* Définition des bordures */ 
}

/* Status */
.error {
    color: #900;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

/* Tables */
table {
    border-collapse: collapse;
}

tr.pair {
    background-color: #fff;
}

tr.impair {
    background-color: #ddd;
}

th {
    color: #0568CD;
    border: 1px solid #0568CD;
    padding: 5px;
}

th.action {
    border: 1px solid #900;
    color: #900;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
}

td.action {
    text-align: center;
}

h1
{
  font-size: 96px;
  text-shadow: -1px -1px #f00, 1px 1px #a00, -3px 0 4px #000;
  color: #0568CD;
  padding:16px 0 0 0;
  margin:16px auto;
  font-weight:lighter;
  -moz-box-shadow:none;  
  -webkit-box-shadow: none;  
  box-shadow:none;  
  text-align:center;
  display:block;
  min-height:172px;
  min-width:800;
  max-height:172px;
  max-width:800px;  
}

#tabnav {
    margin: 0;
    padding: 0 0 20px 10px;
    float:right
    }

#tabnav li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;  
    font-family:verdana, arial,sans-serif;
    }

#tabnav a:link, #tabnav a:visited {
    float: left;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    margin: 0 10px 4px 10px;
    text-decoration: none;
    color: #0568CD;
    }

#tabnav li.active a:link, #tabnav li.active a:visited, #tabnav a:hover {
    border-bottom: 4px solid #0568CD;
    padding-bottom: 2px;
    background: #FFFFFF;
    color: #0568CD;
    }
